.App{
    background-color: white;
    min-height: 80vh;
    width: 400px;
    margin: 20px auto;
  }
  body {
    background-color: #fbacf3;
  }

  .crossed {
    background-color: #ff00aa;
    text-decoration: line-through 2px rgb(0, 0, 0);
    -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: rgb(0, 0, 0);
  -webkit-text-decoration-thickness:2px;
  }

  ul, li {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
  }
  h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 3rem;
    text-align: center;
  }
  .container{
    display: flex;
    justify-content: center;
  }

  .panther{
    display: flex;
    justify-content: center;
    margin-bottom: -150px;
    
  }
  .add{
    margin-top: 5px;
    background: #ff00aa;
    
  }
  
  .delete{
    background: #000000;
    margin-bottom: 5px;
    
  }
  
  .btn{
    padding: 10px;
  border: none;
  width: 50%;
  color: white;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border-radius: 20px;
  }
  
  input{
    flex:1;
    padding: 10px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
  }
  
  img {
    margin: 5px;
  }